.projectDetails{
    a{
        text-decoration: none;
        color: #FCF7FF;

    }
    &:hover{
        background-color: black;
    }
        &__title{
            display: flex;
        }
        &__description{
            margin:0;
        }
        &__techstack{
            display: flex;
            .tools{
                margin:0 1rem;
                min-width: 100px;
                text-align: center;
                background-color: #725AC1;
                padding:1rem;
                border-radius: 50px;
                text-transform: uppercase;
            }
        }

    &__time{
        margin:0;
    }
}